*{
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden; 
    height: 100%;
}

.Feed-Main{
    background-image:linear-gradient(to top, rgb(4, 4, 37),rgba(6, 4, 97, 0.927)) ;
    position: relative;
    background-position: center ;
    height: 120vh;
    background-size: cover;
}
.Feedback-M {
    text-align: center;    
}
.Feedback-M p{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top:90px;
    color: white;
}
.Feedback-H1{
    font-size: 50px;
    font-family: sans-serif;
    position: relative;
    top:50px;   
    text-shadow:0 0 6px #27c0ff ;
}
  
.Feedback-Form {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;  
}
.input-boxF {
    margin-bottom: 15px;
    position: relative;
    top:120px;
    left:450px; 
    font-size: 35px;
    color: #ffb300 ;
}  
.Feed {  
    width: 40%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.FeedBtn{
    position: relative;
    bottom: -140px;
    left: 650px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: #ffb300;
    outline: solid 3px #ffb300 ;
    cursor: pointer;
    font-size: 15px;
}
.FeedBtn:hover{
    background: transparent;
    backdrop-filter:blur(0.9); 
    color: #ffb300;
}
