*{
    padding: 0;
    margin: 0;
}
.O-BG{
    background-image: linear-gradient(to top, rgb(4, 4, 37),rgba(6, 4, 97, 0.927)); 
    position: relative;
    background-position: center ;
    height: 230vh;
    background-size: cover;
}
.Oh1{
    font-size: 40px;
    font-family: sans-serif;
    text-shadow:0 0 6px #27c0ff ;
    display: flex;
    justify-content: center;
    position: relative;
    top: 110px;
    text-decoration: none;
    color: white;
}
.p1{
    font-size: 28px;
    color: white;
    position: relative;
    left: 50px;
    top: 170px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-size: 50px;
    color: #ffb300;
    position: relative;
    left: 40px;
    top: 140px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: #ffb300;
    font-size: 40px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    position: relative;
    top: 10px;   
}
.OP1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    top: 200px;
}
.op1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: white;
    flex: 1;
    border: 3px solid #eeedf3;
    box-shadow: -1px 1px 30px 2px rgb(4, 4, 9);
    margin: 50px;
    padding: 50px;
    background: linear-gradient(to top, rgb(4, 4, 37),rgba(6, 4, 97, 0.927));
    border-radius: 50px;
    transition: 0.3s;
}

.op1:hover{
    transform: translateY(-20px);
}
.OP2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    top: 210px;
  }
.op2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: white;
    flex: 1;
    border: 3px solid #eeedf3;
    box-shadow: -1px 1px 30px 2px rgb(4, 4, 9);
    margin: 50px;
    padding: 50px;
    background: linear-gradient(to top, rgb(4, 4, 37),rgba(6, 4, 97, 0.927));
    border-radius: 50px;
    transition: 0.3s;
}
.op2:hover{
    transform: translateY(-20px);
}
.OFFBTN {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 625px;
    top: 300px;
    width: 250px;
    height: 70px;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 10px;
    background-color: #ffb300;
    outline: solid 3px #ffb300 ;
    cursor: pointer;    
}
.OFFBTN:hover{
    background: transparent;
    color: #ffb300;
   
}




