*{
    padding: 0;
    margin: 0;
}
.Fmain {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 4, 67, 1);
}

.forgot {
    background-color: rgba(45, 219, 198, 1);
    width: 90%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogoF {
    width: 200px;
    margin-bottom: 20px;
}

.input-box1 {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.input-box1 input {
    width: 100%;
    padding: 15px 20px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    text-align: center;
}

.input-box1 .icon ,icon eye-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.forgot button {
    width: 100%;
    max-width: 300px;
    height: 40px;
    background: rgba(24, 4, 67, 1);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
}
